footer {
    width: calc(100vh-12px);
    padding: 10px 0px;
    background: rgb(191, 112, 55);
    user-select: none;
  }

  footer hr {
    opacity: 0.5;
  }

  .terms p{
    text-align: justify;
  }
  
  .container_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 10px;
  }
  
  .box_footer {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  
  .box_footer .logo img {
    width: 150px;
  }
  
  .box_footer .terms {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-size: 18px;
    
  }
  
  .box_footer h2 {
    margin-bottom: 30px;
    color: rgb(0, 0, 0);
    font-size: 700;
    
  }
  
  .box_footer a{
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    font-size: 600;
    
  }
  
  .box_footer a:hover {
    opacity: 0.8;
  }
  
  .box_footer a .fab {
    font-size: 20px;
  }
  
  .box_footer a .fa-facebook-square:hover {
    color: rgb(8, 102, 255);
  }
  
  .box_footer a .fa-square-x-twitter:hover {
    color: rgb(0, 0, 0);
  }
  
  .box_footer a .fa-linkedin:hover {
    color: rgb(10, 102, 194);
  }
  
  .box_copyright {
    max-width: calc(100vh-12px);
    margin: auto;
    text-align: center;
    padding: 0px 40px;
  }
  
  .box_copyright p {
    margin-top: 10px;
    color: antiquewhite;
    opacity: 0.4;
  }
  
  .box_copyright hr {
    border: none;
    height: 1px;
    background-color: antiquewhite;
    opacity: 0.4;
  }

  @media screen and (max-width: 678px) {
    .container_footer {
      display: grid;
      grid-template-rows: auto;
      text-align: center;
      padding: 0 25% 0 25%;
    }
    .box_footer h2 {
      margin-bottom: 10px;
      margin-top: 20px;
      color: rgb(0, 0, 0);
      font-size: 700;
    }
  }